<h1 class="m-3"><%= @task.title %></h1>
<p class="alert alert-secondary m-3 col-6"><%= @task.details %></p>

<hr>

<p class="m-3"><% if @task.completed %>
  <i class="fa-solid fa-square-check"></i>
  This task is completed
  <% else %>
  <i class="fa-regular fa-square"></i>
  This task is not completed yet
  <% end %>
</p>

<div class="m-3">
  <i class="fa-solid fa-book-open"></i>
  <%= link_to "Edit this task", edit_task_path %>
  <i class="fa fa-history ms-3"></i>
  <%= link_to "Back to list", tasks_path %>
</div>
